.link-container {
    line-height: 3em;
    margin-left: 5%;
    margin-bottom: 15%;
}

a {
    color: #15db8c;
}

a:hover {
    color: #0da568;
    transition: 0.3s;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .link-container {
        margin-top: 20%;
        text-align: center;
        margin-left: 0;
    }
}
