.homesection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    float: right;
}


.video-container {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    filter: brightness(60%);
    
}

#video-bg-elem{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    
}

.colour-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%vh;
    opacity: 8.5;
}

nav a {
    text-decoration: none;
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: white;
    z-index: 2;
    position: relative;
}

nav a:hover {
    color: #15db8c;
    transition: 0.3s;
    cursor: pointer;
}


.title {
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: white;
    font-size: 4em;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 10%;
}

.titlename {
    font-family: 'Allura', cursive, Helvetica, sans-serif;
    color: white;
    font-size: 3em;
    position: relative;
    z-index: 1;
    text-align: center;

}

@media only screen and (max-width: 700px) {
    
    .title{
        padding-top: 30%;
        font-size: 1.7em;
    }    
    .titlename{
        font-size: 1.8em;
        padding-top: 5%;
    }
}
