* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: #333333;
}

h2 {
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: #333333;
}

h3 {
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: #333333;
}

h4 {
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: #333333;
}

p {
    font-family: 'Open Sans', cursive, Helvetica, sans-serif;

    line-height: 25px;
}

ol {
    font-family: 'Open Sans', cursive, Helvetica, sans-serif;
   

}

/* NAVBAR ATTRIBUTES */
nav {
    color: white;
    padding: 2%;
    width: 100%

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

}

nav li {
    display: inline-block;
    margin-left: 4em;
    padding-top: 1em;
    
}

nav a {
    text-decoration: none;
    font-family: 'Ramabhadra', cursive, Helvetica, sans-serif;
    color: #515151;
}

nav a:hover {
    color: #15db8c;
    transition: 0.3s;
    cursor: pointer;
}

a.active {
    color: #15db8c;
}

.container {
    margin: 0 auto;
    width: 80%;
}


header::after {
    content: "";
    display: table;
    clear: both;
}

.underbar{
  width: 0;
  height: 5px;
  background: rgba(100,100,200,0);
  left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}


/* SOCIAL MEDIA ICONS */

.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-left: 19%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #15db8c;
    color: white;
    
}

.fa-instagram {
  background: #15db8c;
  color: white;
}

.fa-linkedin {
  background: #15db8c;
  color: white;
}

/* BUTTON */
.button {
    font-family: "Ramabhadra", Helvetica, Arial, sans-serif;
    background-color: #15db8c;
    border: none;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.button:hover {
    background-color: #0da568;
    transition: 0.3s;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 800px;
}

/* FOOTER */
footer {
    font-family: 'Open Sans', cursive, Helvetica, sans-serif;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 2em;
    margin-top: 10em;
    line-height: 1.4em;
}

.footercontainer {
    display: flex;
}

.footercontainer h4 {
    color: white;
    transition: color 0.75s ease;
}

.footercontainer h4:hover {
    color: #15db8c;
    transition: color 0.75s ease;

}

.footleft {
    float: left;
    width: 33%;
}

.footcenter {
    margin-top: 1em;
    width: 33%;
}

.footright {
    float: right;
    width: 33%;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color: #0da568;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

/* COLUMN */
.col-50 {
    max-width: 50%;
    margin-left: 2em;
}


.col-35 {

    max-width: 35%;
    margin-left: 14em;
}

@media only screen and (max-width: 1400px) {
    
    .fa{
        margin-top: 0;
        margin-left: 8%;
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 700px) {

    .col-50 {
        max-width: 100%;
        margin: 2em;

    }
    
    
    .col-35 {
        max-width: 100%;
        margin: 2em;

    }

    .fa{
        margin-left: 14%
        
    }
    iframe {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    footer {
        font-size: .6em;
    }
}

/* HAMBURGER MENU IF THE SCREEN TOO SMALL */

@media only screen and (max-width: 510px) {

    .topnavborder {
        border: none;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 10px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-top: 5px;
        position: relative;

        background: #15db8c;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #15db8c;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(45deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 250px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        border: solid 2px;
        border-color: #15db8c;


        background: white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        margin-left: 1em;
        font-size: 22px;
    
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}