.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
}

.vid{
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .center {
        width: 80%
    }
}

@media only screen and (max-width: 510px) {
    h1{
        padding-top: 25%;
    }
}