.gallery {
    
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.gallery img{
    margin-left: 5%;
    max-width: 22%;
    margin-top: 5%;
}

.gallery img:hover{
    filter:brightness(120%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s; 
}



@media only screen and (max-width: 900px) {
    .gallery{
       margin-top: 15%; 
    }
    .gallery img{
        margin-left: 20%;
    }
}
